[submodule "ole-backend"]
	path = ole-backend
	url = https://gitlab.secoder.net/OutputLimitExceeded/ole-backend.git
[submodule "ole-docs"]
	path = ole-docs
	url = https://gitlab.secoder.net/OutputLimitExceeded/ole-docs.git
[submodule "ole-frontend"]
	path = ole-frontend
	url = https://gitlab.secoder.net/OutputLimitExceeded/ole-frontend.git
[submodule "ole-mysql"]
	path = ole-mysql
	url = https://gitlab.secoder.net/OutputLimitExceeded/ole-mysql.git
